
.input-group-icon {
  position: relative;
  margin-bottom: 16px;

  label {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $gray-700
  }

  .invalid-feedback {
    display: none;
    font-size: 12px;
    color: $danger-500;
    font-weight: 600;
    align-items: center;
    gap: 8px;
    margin-top: 6px;

    svg {
      width: 16px;
      height: 16px;
      stroke: $danger-500;
    }
  }

  .input-icon {
    background: $white;
    border: 1px solid $gray-500;
    border-radius: 4px;
    width: 100%;
    padding: 14px 14px 14px 56px;


    &:focus {
      outline-color: $gray-500;
    }

    &.is-invalid {
      border: 1px solid $danger-500;

      + .invalid-feedback {
        display: flex;
        animation: fade .6s linear forwards;
      }
    }
  }

  .icon {
    position: absolute;
    left: 10px;
    top: 32px;

    &.right {
      left: 0px;
      right: 10px !important;
    }
  }
}


.input-check {
  position: relative;
  margin-block: 32px;
  display: flex;
  align-items: center;
  gap: 8px;

  input[type="checkbox"] {
    width: 16px;
    height: 16px;
    border: 1px solid $gray-700 !important;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;

    &:checked {
      color: $white;
      background-color: $gray-700 !important;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: '\2714';
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 10px;
        color: $white;
      }
    }
  }

  label {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $gray-700
  }

}


@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    transform: translateY(6px);
    opacity: 1;
  }
}


