@import "themes";

.breadcrumb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  list-style: none;

  .breadcrumb-item {
    color: $primary-400;

    &.active {
      color: $gray-700;
    }

    + .breadcrumb-item {
      padding-left: 0.5rem;

      &::before {
        float: left;
        padding-right: 0.5rem;
        color: $gray-700;
        content: "/";
      }
    }
  }
}

h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;
  color: $gray-700;
}

h6 {

  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: $gray-500;

  &.tem-viagem {
    color: $primary-500;
  }
}


.filters {
  margin-block: 24px;
  display: flex;
  align-items: center;
  gap: 16px;

  .filter {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    font-weight: 700;
    line-height: 150%;
    color: $gray-700;
    background-color: transparent;
    border: none;
    cursor: pointer;

    .filter-count {
      color: $primary-400;
      font-weight: bold;
    }

    app-icon {
      ::ng-deep {
        svg {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}


.scheduled-trips {
  display: flex;
  align-items: center;
  gap: 16px;
  color: $primary-600;
  margin-bottom: 30px;

  .scheduled-trip {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;

    .count {
      display: flex;
      align-items: center;
      gap: 8px;

      span {
        font-weight: bold;
        font-size: 24px;
        line-height: 120%;
      }
    }
  }
}

.delayed-scheduled-trip {
  color: $danger-600;
}

.monitoring {
  width: 100%;

  .monitoring-content {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    place-content: center;
    justify-content: space-between;
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
    border-radius: 8px;
    padding: 20px 24px;
    background-color: $white;
    margin-top: 8px;

    &.monitoring-content-header {
      background-color: $gray-400;
    }

    .monitoring-content-item {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      color: $gray-700;

      .anomalies {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: $danger-500;
        color: $white;

        font-weight: 700;
        font-size: 12px;
        line-height: 150%;
      }

      .travel {
        flex-direction: column;
        display: flex;

        .time-of-travel {
          font-weight: bold;
          font-size: 12px;
          color: $danger-500;
        }
      }

      .steps {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .step {
          width: 50px;
          border-radius: 4px;
          background-color: $gray-400;
          height: 8px;
          display: inline-block;
          position: relative;

          &:before {
            content: "";
            background-color: $danger-500;
            border-radius: 4px;
            position: absolute;
            width: 50%;
            height: 100%;
          }
        }
      }

      .temperature {
        display: flex;
        align-items: center;

        app-icon {
          ::ng-deep {
            stroke: $alert-600;
          }
        }

        .temperature-count {
          font-weight: 700;
          font-size: 14px;
          line-height: 150%;
        }
      }
    }
  }
}
