<!--<app-breadcrumb />-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Library</li>
  </ol>
</nav>


<div>
  <h1>Monitoramento</h1>
  @if (viagens.length > 0) {
  <h6>{{ viagens.length }} veículos em viagem</h6>
  } @else {
  <h6>Nenhuma viagem</h6>
  }
</div>


<div class="filters">
  <button class="filter">
    <app-icon icon="filter-1" />
    <div>Filtro</div>
    <app-icon icon="arrow-down" />
  </button>
  <button class="filter">
    <app-icon icon="star" />
    <div>
      Meus filtros
      <span class="filter-count">
        (1)
      </span>
    </div>
    <app-icon icon="arrow-down" />
  </button>
</div>

<div class="scheduled-trips">
  <div class="scheduled-trip">
    <div class="count">
      <app-icon icon="notes-star-1" />
      <span>100</span>
    </div>
    <span>Viagens programadas</span>
  </div>
  <div class="scheduled-trip delayed-scheduled-trip">
    <div class="count">
      <app-icon icon="notes-close" />
      <span>18</span>
    </div>
    <span>Viagens em atraso</span>
  </div>
</div>


<div class="monitoring">

  <app-monitoring-card />
</div>