@import "themes";

.breadcrumb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  list-style: none;

  .breadcrumb-item {
    color: $primary-400;

    &.active {
      color: $gray-700;
    }

    + .breadcrumb-item {
      padding-left: 0.5rem;

      &::before {
        float: left;
        padding-right: 0.5rem;
        color: $gray-700;
        content: "/";
      }
    }
  }
}

h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;
  color: $gray-700;
}

h6 {

  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: $gray-500;

  &.tem-viagem {
    color: $primary-500;
  }
}


.filters {
  margin-block: 24px;
  display: flex;
  align-items: center;
  gap: 16px;

  .filter {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    font-weight: 700;
    line-height: 150%;
    color: $gray-700;
    background-color: transparent;
    border: none;
    cursor: pointer;

    .filter-count {
      color: $primary-400;
      font-weight: bold;
    }

    app-icon {
      ::ng-deep {
        svg {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}


.scheduled-trips {
  display: flex;
  align-items: center;
  gap: 16px;
  color: $primary-600;
  margin-bottom: 30px;

  .scheduled-trip {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;

    .count {
      display: flex;
      align-items: center;
      gap: 8px;

      span {
        font-weight: bold;
        font-size: 24px;
        line-height: 120%;
      }
    }
  }
}

.delayed-scheduled-trip {
  color: $danger-600;
}

.monitoring {
  width: 100%;

}
