<main>
  <div class="box">
    <div class="logo-container">
      <img src="/assets/images/logo.png" alt="Logo" class="logo" />
    </div>


    <h5>
      O que aconteceu?
    </h5>

    <p>
      Parece que a URL informada é inválida ou não foi encontrada. <br />
      Tente novamente, informando uma URL válida.
    </p>

    <div class="box-links">
      <a  (click)="goBack()" >
        Voltar para página anterior
      </a>
      <a routerLink="/" >
        Voltar para login
      </a>
    </div>

  </div>
</main>