
<div class="timeline">
  <div class="timeline-line"></div>
  <div class="step step-ball-success">
    <div class="step-ball step-ball-success"></div>
    <div class="step-message">
      <div class="step-title">Início da viagem</div>
      <div class="step-hour">17/11/2020 - 08:07</div>
    </div>
  </div>
  <div class="step step-ball-success">
    <div class="step-ball step-ball-success"></div>
    <div class="step-message">
      <div class="step-title">Abastecimento</div>
      <div class="step-hour">17/11/2020 - 08:07</div>
    </div>
  </div>
  <div class="step step-ball-error">
    <div class="step-ball step-ball-error"></div>
  </div>
  <div class="step">
    <div class="step-ball step-ball-in-progress">
      4
    </div>
    <div class="step-message">
      <div class="step-title">Abastecimento</div>
      <div class="step-hour">17/11/2020 - 08:07</div>
      <div class="step-observation">
        Devolução - Motivo 02A
      </div>
      <div class="step-observation">
        Demora no cliente
      </div>
      <div class="step-observation">
        Entrega fora do raio
      </div>
      <div class="step-observation">
        Quebra de sequência
      </div>
    </div>
  </div>
  <div class="step">
    <div class="step-ball step-ball-pending"></div>
  </div>
  <div class="step">
    <div class="step-ball step-ball-pending"></div>
  </div>
  <div class="step">
    <div class="step-ball step-ball-pending"></div>
  </div>
</div>