$icomoon-font-family: "brf_monitoramento_e_anomalias" !default;
$icomoon-font-path: "fonts/icons" !default;

$icon-profile: "\e900";
$icon-anomaly: "\e901";
$icon-arrow-cube-down: "\e902";
$icon-arrow-cube-up: "\e903";
$icon-arrow-down: "\e904";
$icon-arrow-left: "\e905";
$icon-arrow-right: "\e906";
$icon-arrow-up: "\e907";
$icon-attachment: "\e908";
$icon-cadastro: "\e909";
$icon-calendar: "\e90a";
$icon-canceled: "\e90b";
$icon-cd: "\e90c";
$icon-chat1: "\e90d";
$icon-check-circle: "\e90e";
$icon-client: "\e90f";
$icon-close: "\e910";
$icon-commodities: "\e911";
$icon-dashboard: "\e912";
$icon-dashboard2: "\e913";
$icon-delete: "\e914";
$icon-deliveries: "\e915";
$icon-delivery-truck-2: "\e916";
$icon-email-action-unread: "\e917";
$icon-end: "\e918";
$icon-filter-1: "\e919";
$icon-fiscal: "\e91a";
$icon-graph-stats-ascend: "\e91b";
$icon-graph-stats-descend: "\e91c";
$icon-home: "\e91d";
$icon-home1: "\e91e";
$icon-incompatible-schedule: "\e91f";
$icon-lat-long: "\e920";
$icon-list-bullets: "\e921";
$icon-list-cards: "\e922";
$icon-lock-password: "\e923";
$icon-logout: "\e924";
$icon-maintenance: "\e925";
$icon-maps-pin-1: "\e926";
$icon-meal: "\e927";
$icon-menu: "\e928";
$icon-minus: "\e929";
$icon-money: "\e92a";
$icon-monitoramento: "\e92b";
$icon-movement: "\e92c";
$icon-navigation-menu-vertical: "\e92d";
$icon-new: "\e92e";
$icon-nf: "\e92f";
$icon-notes-checklist-flip: "\e930";
$icon-notes-close: "\e931";
$icon-notes-star-1: "\e932";
$icon-notes-text-flip: "\e933";
$icon-notification: "\e934";
$icon-office-file-sheet: "\e935";
$icon-office-file-sheet-1: "\e936";
$icon-office-file-sheet-2: "\e937";
$icon-operation: "\e938";
$icon-operation-1: "\e939";
$icon-operation-2: "\e93a";
$icon-painel-aeroporto1: "\e93b";
$icon-painel-aeroporto2: "\e93c";
$icon-pause: "\e93d";
$icon-pencil: "\e93e";
$icon-pencil-write-2-1: "\e93f";
$icon-phone-actions-voice-mail: "\e940";
$icon-picture: "\e941";
$icon-plane-trip: "\e942";
$icon-plus: "\e943";
$icon-port: "\e944";
$icon-prf: "\e945";
$icon-print: "\e946";
$icon-provider: "\e947";
$icon-recycling-hand-trash-1: "\e948";
$icon-relatorios: "\e949";
$icon-rest: "\e94a";
$icon-retroalimentacao: "\e94b";
$icon-road-sign-warning: "\e94c";
$icon-search: "\e94d";
$icon-send: "\e94e";
$icon-shop: "\e94f";
$icon-signal: "\e950";
$icon-single-neutral-profile-picture-2: "\e951";
$icon-single-neutral-profile-picture: "\e952";
$icon-star: "\e953";
$icon-start: "\e954";
$icon-stop: "\e955";
$icon-supply: "\e956";
$icon-temperature: "\e957";
$icon-time-clock-circle: "\e958";
$icon-tracker: "\e959";
$icon-trash: "\e95a";
$icon-trucks: "\e95b";
$icon-up: "\e95c";
$icon-vehicle: "\e95d";
$icon-viagens: "\e95e";
$icon-view-1: "\e95f";
$icon-view-off: "\e960";
$icon-volume: "\e961";
$icon-warehouse: "\e962";
$icon-wc: "\e963";
$icon-weight: "\e964";

