@import "themes";


.monitoring-table {

  .monitoring-table-content,
  .monitoring-table-header {
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
    border-radius: 8px;
    padding: 20px 24px;
    margin-top: 8px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: $gray-700;
    transition: height .3s ease-in-out;
  }

  .monitoring-table-header {
    background-color: $gray-400;
    font-weight: 600;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    justify-content: space-between;
  }

  .monitoring-table-content {
    background-color: $white;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 40px;
    align-items: start;

    .monitoring-table-content-timeline {
      width: 100%;
      display: none;

      &.open {
        display: block;
      }
    }

    .monitoring-table-content-items {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      align-items: center;
      width: 100%;
      text-align: start;

      .anomalies {
        width: 24px;
        height: 24px;
        border-radius: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: $danger-500;
        color: $white;

        font-weight: 700;
        font-size: 12px;
      }

      .travel {
        flex-direction: column;
        display: flex;

        .time-of-travel {
          font-weight: bold;
          font-size: 12px;
          color: $danger-500;
        }
      }

      .steps {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .step {
          width: 50px;
          border-radius: 4px;
          background-color: $gray-400;
          height: 8px;
          display: inline-block;
          position: relative;

          &:before {
            content: "";
            background-color: $danger-500;
            border-radius: 4px;
            position: absolute;
            width: 50%;
            height: 100%;
          }
        }
      }

      .temperature {
        display: flex;
        align-items: center;

        app-icon {
          ::ng-deep {
            stroke: $alert-600;
          }
        }

        .temperature-count {
          font-weight: 700;
          font-size: 14px;
          line-height: 150%;
        }
      }

      .efficiency {
        display: flex;
        gap: 4px;
      }

      .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        width: 100%;

        .mapa {
          display: flex;
          gap: 4px;
        }

        .expand {
          background-color: transparent;
          border: none;
          display: flex;
          cursor: pointer;
          opacity: 0.5;
          transition: all .3s ease-in-out;
          transform: rotate(0deg);

          &.is-expanded {
            transform: rotate(180deg);
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}