<section [ngClass]="{'show': sidebarActive}">
  <nav>
    <div class="nav-itens" routerLink="dashboard/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <div class="icon">
        <app-icon icon="home"/>
      </div>
      <div class="text">
        Home
      </div>
    </div>
    <div class="nav-itens" routerLink="monitoring" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <div class="icon">
        <app-icon icon="monitoramento"/>
      </div>
      <div class="text">
        Monitoramento
      </div>
    </div>
  </nav>
</section>

