@import "themes";

section {
  max-width: 100%;
  min-width: 64px;
  width: 64px;
  height: 100%;
  background: #FFFFFF;

  transition: all 0.3s ease-in-out;
  animation: width 0.3s ease-in-out;

  nav {
    display: flex;
    flex-direction: column;

    .nav-itens {
      display: flex;
      align-items: center;
      border-left: 4px solid transparent;
      cursor: pointer;

      .icon {
        padding: 18px;
      }

      .text {
        font-size: 14px;
        color: $gray-700;
        font-weight: 400;
        display: none;
        padding: 24px 8px;
        flex: 1;
        align-items: center;
        justify-content: space-between;

        .sub-icon {
          margin-right: 8px;

          &::ng-deep {
            svg {
              width: 16px;
              height: 16px;
            }
          }
        }
      }

      &.active,
      &:hover {
        border-left-color: $primary-500;
        background-color: $primary-200;

        .text {
          color: $primary-500;
          font-weight: 500;
        }
      }

    }
  }


  &.show {
    width: 241px;

    nav {
      .nav-itens {
        .text {
          display: flex;
        }
      }
    }
  }

}


@keyframes menuShow {
  0% {
    width: inherit;
  }

  100% {
    width: 241px;
  }
}