/* You can add global styles to this file, and also import other style files */

@import "app/core/themes/fonts";
@import "app/core/themes/colors";
@import "app/core/themes/inputs";
@import "app/core/themes/buttons";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Proxima Nova', sans-serif;
}


html,
body{
  background-color: $body;
  height: 100%;
}
